<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eius consequuntur ipsum exercitationem quod?
        Repellat architecto veritatis vel molestiae eius quibusdam itaque, quam totam? Minus facere unde itaque debitis
        nostrum vitae dolores dignissimos veniam molestiae recusandae, aperiam sequi corrupti laboriosam quo quis
        assumenda reprehenderit et! Ducimus magnam eos voluptatibus deserunt aliquam soluta doloremque quas, praesentium
        atque nesciunt. Dolores, nihil maxime doloribus quas expedita soluta quia adipisci non et ullam necessitatibus
        eligendi neque delectus voluptatem, dicta dolorum ab enim eaque. Ad assumenda officia eos consectetur! Fugit
        accusantium repellat eveniet officia vel consectetur molestias asperiores. Autem nulla eius ratione non illo
        labore!
    </p>
</body>

</html>